.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #505a6e;
  min-height: 100vh;

}

body { padding: 0; margin: 0; }


a {
  text-decoration: none;
  color: azure;
}
