.btn-navbar {
  display: flex;
  justify-content: center;
  width: 100px;
  height: 40px;
  background-color: #3173f9;
  border-radius: 10px;
  margin-top: 15px;


}


.Inner-text-btn {
  padding-top: 7px;

}

.btn-side-bar {
  height: 50px;
  width: 50px;
  border-radius: 50px;
  background-color: rgb(74, 139, 118);
  box-shadow: 10px;
  margin-left: 5px;
}
